<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShortUrl</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <style>
      body {
        font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica,
          Arial, sans-serif !important;
        font-weight: 800;
      }
      .brand-title {
        background: -webkit-linear-gradient(0deg, #0085ff, #cc42c5);
        font-size: 2em;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      .btn {
        font-weight: 800;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand brand-title" href="../../">ShortUrl</a>
        <div class="navbar-nav ms-auto">
          <!-- Login/Logout -->
          <a class="nav-link" href="#"></a>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class="container mt-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col-lg">
            <div class="card mb-3">
              <div class="card-body">
                <canvas id="region"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Recent Clicks</h5>
                <h6 class="card-subtitle">
                  <span class="badge bg-danger"
                    >Total Clicks: <%= data.clicks %></span
                  >
                </h6>
                <ul class="list-group list-group-flush">
                  <% data.click_history.forEach((element,index) =>{ %>
                  <li class="list-group-item">
                    <%= index+1 %>. <%= element.ip %> (<%- element.timestamp %>)
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
       let ctx = document.getElementById("region").getContext('2d');

      let myDoughnutChart = new Chart(ctx, <%- plt %>);
  </script>
</html>
